<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>

    <div th:fragment="deleteModal">
        <div id="deleteConfirmModal" class="modal-custom" style="display: none;">
            <div class="modal-custom-overlay"></div>
            <div class="modal-custom-container">
                <div class="modal-custom-header">
                    <h5 class="modal-custom-title">Konfirmasi Hapus</h5>
                </div>
                <div class="modal-custom-body">
                    <p id="deleteConfirmMessage">Yakin ingin menghapus?</p>
                </div>
                <div class="modal-custom-footer">
                    <button type="button" id="modalCancelBtn" class="btn-modal btn-modal-secondary">Batal</button>
                    <button type="button" id="modalConfirmBtn" class="btn-modal btn-modal-danger">Hapus</button>
                </div>
            </div>
        </div>
    </div>

</body>

</html>